Question 1

In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('kc_house_data.csv')

df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [10]:
cols_to_exclude = ['id', 'date', 'zipcode']
summary = df.drop(columns=cols_to_exclude).agg(['mean', 'min', 'max', 'var'])
print(summary)

             price   bedrooms  bathrooms    sqft_living      sqft_lot  \
mean  5.400881e+05   3.370842   2.114757    2079.899736  1.510697e+04
min   7.500000e+04   0.000000   0.000000     290.000000  5.200000e+02
max   7.700000e+06  33.000000   8.000000   13540.000000  1.651359e+06
var   1.347824e+11   0.865015   0.593151  843533.681368  1.715659e+09

        floors  waterfront      view  condition      grade     sqft_above  \
mean  1.494309    0.007542  0.234303   3.409430   7.656873    1788.390691
min   1.000000    0.000000  0.000000   1.000000   1.000000     290.000000
max   3.500000    1.000000  4.000000   5.000000  13.000000    9410.000000
var   0.291588    0.007485  0.587243   0.423467   1.381703  685734.667269

      sqft_basement     yr_built   yr_renovated        lat        long  \
mean     291.509045  1971.005136      84.402258  47.560053 -122.213896
min        0.000000  1900.000000       0.000000  47.155900 -122.519000
max     4820.000000  2015.000000    2015.000000  47.777600 -121.315000
var   195872.668401   862.797262  161346.211862   0.019200    0.019833

      sqft_living15    sqft_lot15
mean    1986.552492  1.276846e+04
min      399.000000  6.510000e+02
max     6210.000000  8.712000e+05
var   469761.239945  7.455182e+08

Question 2

In [20]:
cols_to_exclude = ['id', 'date', 'zipcode']
corr_table = df.drop(columns=cols_to_exclude).corr()['price'].to_frame(name='correlation')
print(corr_table)

               correlation
price             1.000000
bedrooms          0.308350
bathrooms         0.525138
sqft_living       0.702035
sqft_lot          0.089661
floors            0.256794
waterfront        0.266369
view              0.397293
condition         0.036362
grade             0.667434
sqft_above        0.605567
sqft_basement     0.323816
yr_built          0.054012
yr_renovated      0.126434
lat               0.307003
long              0.021626
sqft_living15     0.585379
sqft_lot15        0.082447